@font-face{
	font-family: 'cyrene';
	src: url('typo/cyrene.otf');
}

@font-face{
	font-family: 'montserrat';
	src: url('typo/monserrat.ttf');
}

@font-face{
	font-family: 'minipax';
	src: url('typo/minipax.woff');
}

@font-face{
	font-family: 'sporting';
	src: url('typo/sporting.woff2');
}

/*animation*/

@keyframes appear{
	from{
		opacity: 0;
	}

	to{
		opacity: 100;
	}
}

@keyframes saut{
	0%{
		position: relative;
		top: 10px;
	}

	50%{
		position: relative;
		top: 0px;
	}

	100%{
		position: relative;
		top: 10px;
	}
}

@keyframes remonte{
	0%{
  transform: translate(0px, 20vh);
  opacity: 0;
	}
	100%{
  transform: translate(0px, 0vh);		
  opacity: 1;
	}
}


#one{
	background-color:#f6c2bd;
	transform: translate(0px, -100vh);
  	transition: transform 3s ease;
}

.body{
	background-color:#fbe7e8;
}

#remonte{
	animation: remonte ease 1s;
	background-color:#fbe7e8;

}

#split{
	background: linear-gradient(to right, #ffffff 0%, #ffffff 25%, #fbe7e8 25%, #fbe7e8 100% );
}

/*conteneur de pré-accueil*/
#container-pre{
	animation: appear 8s ease;
/*	border: 2px solid purple;*/
/*	margin: 20px auto 20px;*/
	text-align: center;
	cursor: pointer;


}

/*conteneur principal*/
.container{
/*	border: 1px solid yellow;*/
	height: 100vh;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	justify-content: space-around;
}


/*header de la page principale*/
header{
/*
	border: 1px solid #ff4219;*/
	display: flex;
	justify-content: space-between;	
	align-items: center;
	height: 96px;
}


/*header de la page about et projet*/
#headerabout{

/*	border: 1px solid #ff4219;*/

	justify-content: flex-end;
	position: relative;
	z-index: 20;
	
}

#headerabout a{
	margin-left: 40px;
}


#logo{
	position: fixed;
	z-index: 30;
	left: calc(50vw - 140px);
	top: 20px;
	width: 280px;
}


#logo img{
	width: 100%;
/*	border: solid 1px black;*/
	justify-content: space-between;


}

#box-button{
/*	border: 1px solid #ff4219;*/
/*	border-radius: 10px;*/
	width: 215px;
	height: 40px;
	margin: auto;
	display: flex;
	justify-content: space-between;
/*	ms-display: grid;
	grid-template-columns: 1fr 1fr;*/

}

/*case qui contient le lien about*/
.link-container{
	font-family: 'cyrene';
	font-size: 1.3em;
	text-decoration: none;
	color: #ff4219;
	text-transform: uppercase;
	
}

/*les traits sous les liens du header*/
.link-container hr{
	border: none;

}

.link-container a:hover hr {

	
}

/*phrase d'intro*/
#intro {
/*	border: 1px solid red;*/
	color: #ff4219;
	font-family: 'cyrene';
	margin-top: calc(100vh / 2 - 300px /2);
	margin-bottom: 30px;
	font-size: 5em;
	height: 300px;
	letter-spacing: 2px;
	text-transform: uppercase;
	animation: appear 2s ease-in;
}

/*scroll to see more*/
#scroll {
	animation:  saut 1s ease-in-out infinite; /*petit saut animation*/
	color: #ff4219;
	font-family: 'sporting';
	text-align: center;
	/*border: 1px solid #ff4219; */
	/*border-radius: 50% / 50%;*/
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	height: 30px;
}

/*menu projets*/
#menu-projet{
	border: 1px solid #ff4219;
	height: 80vh;
	margin-top: 4vh;
	display: flex;
	ms-display: flex;
/*	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 15px;*/
	justify-content: space-between;
}


/*taille du bloc projet*/
.container-projet{
	height: 100%;
	width: 22vw;
	border: 1px solid #ff4219;
	text-decoration: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#photo-text:hover{
background-image: url(../import/source-color.jpg);
background-size: cover;
background-position: center;
}

#experimentation-text:hover{
background-image: url(../import/andersen-color.png);
background-size: cover;
}

#calendrier-text:hover{
background-image: url(../import/calendrier-color.png);
background-size: cover;
background-position: center;
}

#blindtest-text:hover{
background-image: url(../import/blindtest-color.jpg);
background-size: cover;
}


#photo-text{
background-image: url(../import/source.png);
background-size: cover;
background-position: center;
}

#experimentation-text{
background-image: url(../import/andersen.png);
background-size: cover;
}

#calendrier-text{
background-image: url(../import/calendrier.png);
background-size: cover;
background-position: center;
}

#blindtest-text{
background-image: url(../import/blindtest.png);
background-size: cover;
background-position: center;

}

/*le titre du projet*/
.container-projet .title-project{
	z-index: 4;
	color: #ff4219;
	background-color: #fbe7e8;
	font-family: 'cyrene';
	font-size: 2em;
	padding-top: 14px;
	text-transform: uppercase;
	text-align: center;
	/*border: 1px solid #ff4219; */
	
}

/*position particulière de photo*/
.container-projet #photos{

	padding: 10px;
	text-align: center;
}

/*position particulière de expérimentation */
.container-projet #experimentation{

	word-break: break-all;
	padding: 10px;
}

/*position particulière de ferme des animaux */
.container-projet #calendrier{

	padding: 10px;
}

/*position particulière de ferme des animaux */
.container-projet #blindtest{

	padding: 10px;
}


/*quand je passe la souris sur le bloc, le titre change de couleur*/
.container-projet:hover .title-project{
	color: #fbe7e8;
	background-color: #ff4219;
}






	/*page about*/

#sectionabout{
	color: #ff4219;
	font-family: 'cyrene';
	display: flex;
	align-items: center;
	position: fixed;
	z-index:0 ;
	top: 0px;
	font-size: 3.7em;
	text-transform: uppercase;
}

/*l'image de about*/
#sectionabout img{
	width: 600px;
}

/*le texte de about*/
#sectionabout h2{
	margin: 100px;
	line-height: 1.09em;
	letter-spacing: 2px;


}

/*les liens du texte de about*/
#sectionabout h2 a{
	color: #ff4219;
	text-decoration: underline 3px;

}

#sectionabout h2 a: visited{
	color: #ff4219;
}





	/*contenu des projets*/
/*	retour aux sources*/

aside{
	border: 1px solid black;
	color: #ff4219;
	height: 100%;
	width: 25vw;
	position: fixed;
  	z-index: 1; /* Stay on top */
  	top: 0; /* Stay at the top */
  	left: 0;
}

aside h3{
	font-family: 'sporting';
	font-size: 1.22em;
	line-height: 1.2em;
	text-transform: uppercase;
	margin-bottom: 1em;
}

/*bloc qui comprends titre légende et explication du projet*/
/*#bloc-texte-aside1{
	border: 1px solid red;
	justify-self: center;
	width: 80%; /*38vw*/
/*	margin: 30vh auto 15vh;*/
/*	margin-left: auto;
	margin-right: auto;
	margin: 10vh;
}*/

#bloc-texte-aside{
/*	border: 1px solid red;*/
	justify-self: center;
	width: 80%; /*38vw*/
/*	height: 100%;*/
	margin-left: auto;
	margin-right: auto;
	margin-top: 20vh;
	margin-bottom: 5vh;

}

/*photos du premier rang*/
#photo-rang-un{
/*	border: 2px solid blue;*/
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 4.5vh;
}

#photo-rang-un img{
	width: 22vw;
}

/*photo du second rang*/
#photo-rang-deux{
/*	border: 2px solid blue;*/
	width: 100%;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

#photo-rang-deux img{
	width: 34.3vw;
}

#container-all-projet{
	margin-bottom: 8vh;

}

#legende{
	font-family: 'sporting';
	margin-bottom: 5em;
	line-height: 1.2em;
}

#explications{
	font-family: 'montserrat';
	margin-bottom: 20px;
}

/*lien de blindtest*/
#link-site{
	font-family: 'cyrene';
	text-transform: uppercase;
	font-size: 1.3em;
}

#link-site:visited{
	color: #ff4219;
}

/*boite avec toutes les photos de projet*/
#container-all-projet{
	margin-top: 50px;
	width: 74%;
	float: right;
}



/*boite bouton avant et après*/
#back-next{
/*	border: 1px solid cyan;*/

/*	margin-top: 260px;*/
	/*margin-bottom: 30px;*/ /*espace après les boutons*/
	display: flex;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
/*	margin-bottom: 30px;*/
	justify-content: space-between;
}

#back-next a{
	font-family: 'cyrene';
	font-size: 1.5em;
	text-transform: uppercase;
	text-decoration: none;
	color: #ff4219;
}

#back-next a: visited{
	color: #ff4219;
}

#back{
	width: 100px;
	text-align: left;
/*	border: 1px solid red;*/
}

#next{
	text-align: right;
	width: 100px;
/*	border: 1px solid red;*/
}






	/*	andersen*/

#andersen-rang-un{
/*	border: 2px solid blue;*/
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 4.5vh;
	align-items: center;
}

#andersen-rang-un img{
	width: 45vw;
	margin: auto;
}








footer{
/*	border: 1px solid #ff4219;*/
/*	border: 1px solid green;*/
	color: #ff4219;
	position: fixed;
	bottom: 0px;	
	width: 100%;
	font-family: 'montserrat';
	font-size: 0.8em;
	text-align: center;
	margin: 20px auto 10px;
}