@font-face{
	font-family: 'cyrene';
	src: url('typo/cyrene.otf');
}

@font-face{
	font-family: 'montserrat';
	src: url('typo/monserrat.ttf');
}

@font-face{
	font-family: 'minipax';
	src: url('typo/minipax.woff');
}

@font-face{
	font-family: 'sporting';
	src: url('typo/sporting.woff2');
}

/*animation*/

@keyframes appear{
	from{
		opacity: 0;
	}

	to{
		opacity: 100;
	}
}

@keyframes saut{
	0%{
		position: relative;
		top: 10px;
	}

	50%{
		position: relative;
		top: 0px;
	}

	100%{
		position: relative;
		top: 10px;
	}
}

@keyframes remonte{
	0%{
  transform: translate(0px, 20vh);
  opacity: 0;
	}
	100%{
  transform: translate(0px, 0vh);		
  opacity: 1;
	}
}


#one{
	background-color:#f6c2bd;
	transform: translate(0px, -100vh);
  	transition: transform 3s ease;
}

.body{
	background-color:#fbe7e8;
}

#remonte{
	animation: remonte ease 1s;
	background-color:#fbe7e8;


}

#split{
	background: linear-gradient(to right, #ffffff 0%, #ffffff 25%, #fbe7e8 25%, #fbe7e8 100% );
	overflow-y: scroll;
}

/*conteneur de pré-accueil*/
#container-pre{
	animation: appear 8s ease;
/*	border: 2px solid purple;*/
/*	margin: 20px auto 20px;*/
	text-align: center;
	cursor: pointer;


}

/*conteneur principal*/
.container{
	height: 100vh;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	justify-content: space-around;
	overflow-x: scroll;
}
.container2{
	height: 100vh;
	width: 95vw;
	margin-left: auto;
	margin-right: auto;
	justify-content: space-around;
	
}

/*scrollbar*/

.container::-webkit-scrollbar {
  -webkit-appearance: none;
  border: 1px solid #ff4219 ;

}
::-webkit-scrollbar-thumb {
  background-color: #ff4219;
}
::-webkit-scrollbar-track{
	background-color: white;
	border: 1px solid #ff4219;
}

#split::-webkit-scrollbar {
  -webkit-appearance: none;
  border: 1px solid #ff4219 ;

}
::-webkit-scrollbar-thumb {
  background-color: #ff4219;
}
::-webkit-scrollbar-track{
	background-color: white;
	border: 1px solid #ff4219;
}


/*header de la page principale*/
header{
/*	border: 1px solid #ff4219;*/
	display: flex;
	justify-content: space-between;	
	align-items: center;
	height: 10vh;
	width: 94vw;
	position: fixed;
	left: calc(100vw/2 - 94vw/2);
}

header img{
	height: 7vh;
}


/*header de la page about et projet*/
#headerabout{

/*	border: 1px solid #ff4219;*/

	justify-content: flex-end;
	position: relative;
	z-index: 20;
	
}

#headerabout a{
	margin-left: 40px;
}


/*header de la page about*/
#headerabout2 {
	justify-content: flex-end;
	z-index: 20;
	position: fixed;
}

#headerabout2 a{
	margin-left: 40px;
}


#logo{
	position: fixed;
	z-index: 30;
	left: 10vh;
	top: 20px;
	width: 280px;
}


#logo img{
	width: 100%;
/*	border: solid 1px black;*/
	justify-content: space-between;


}

#box-button{
/*	border: 1px solid #ff4219;*/
/*	border-radius: 10px;*/
	width: 215px;
	height: 40px;
	margin: auto;
	display: flex;
	justify-content: space-between;
/*	ms-display: grid;
	grid-template-columns: 1fr 1fr;*/

}

/*case qui contient le lien about*/
.link-container{
	font-family: 'cyrene';
	font-size: 1.3em;
	text-decoration: none;
	color: #ff4219;
	text-transform: uppercase;
	
}

/*les traits sous les liens du header*/
.link-container hr{
	border: none;

}

.link-container a:hover hr {

	
}

/*phrase d'intro*/
#intro {
/*	border: 1px solid red;*/
	color: #ff4219;
	font-family: 'cyrene';
	margin-top: calc(100vh / 2 - 300px /2);
	margin-bottom: 30px;
	font-size: 5em;
	height: 300px;
	letter-spacing: 2px;
	text-transform: uppercase;
	animation: appear 2s ease-in;
}

/*scroll to see more*/
#scroll {
	animation:  saut 1s ease-in-out infinite; /*petit saut animation*/
	color: #ff4219;
	font-family: 'sporting';
	text-align: center;
	/*border: 1px solid #ff4219; */
	/*border-radius: 50% / 50%;*/
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	height: 30px;
}

/*menu projets*/
#menu-projet{
/*	border: 1px solid #ff4219;*/
	height: 80vh;
	width: 155vw;
	margin-top: calc(100vh/2 - 22vw + 2vh);
	display: flex;
	ms-display: flex;
/*	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 15px;*/
	justify-content: space-between;
}


/*taille du bloc projet*/
.container-projet{
	height: 100%;
	width: 22vw;
	border: 1px solid #ff4219;
	text-decoration: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#photo-text:hover{
background-image: url(../import/webp/source-color_resultat.webp);
background-size: cover;
background-position: center;
animation: saut linear 1s infinite;
}

#experimentation-text:hover{
background-image: url(../import/webp/andersen-color_resultat.webp);
background-size: cover;
animation: saut linear 1s infinite;
}

#calendrier-text:hover{
background-image: url(../import/webp/calendrier-color_resultat.webp);
background-size: cover;
background-position: center;
animation: saut linear 1s infinite;
}

#blindtest-text:hover{
background-image: url(../import/webp/blindtest-color_resultat.webp);
background-size: cover;
animation: saut linear 1s infinite;
}

#cycle-text:hover{
background-image: url(../import/webp/grid-color_resultat.webp);
background-size: cover;
animation: saut linear 1s infinite;
}

#processing-text:hover{
background-image: url(../import/webp/processing-color_resultat.webp);
background-size: cover;
background-position: center;
animation: saut linear 1s infinite;
}


#photo-text{
background-image: url(../import/webp/source_resultat.webp);
background-size: cover;
background-position: center;
}

#experimentation-text{
background-image: url(../import/webp/andersen_resultat.webp);
background-size: cover;
}

#calendrier-text{
background-image: url(../import/webp/calendrier_resultat.webp);
background-size: cover;
background-position: center;
}

#blindtest-text{
background-image: url(../import/webp/blindtest_resultat.webp);
background-size: cover;
background-position: center;

}

#cycle-text{
background-image: url(../import/webp/grid_resultat.webp);
background-size: cover;
background-position: center;

}

#processing-text{
	background-image: url(../import/webp/processing_resultat.webp);
	background-size: cover;
	background-position: center;
}

/*le titre du projet*/
.container-projet .title-project{
	z-index: 4;
	color: #ff4219;
	background-color: #fbe7e8;
	font-family: 'cyrene';
	font-size: 2em;
	padding-top: 14px;
	text-transform: uppercase;
	text-align: center;
	padding: 10px;
	/*border: 1px solid #ff4219; */
	
}

/*POUR CHANGER LA LARGEUR DE L'ETIQUETTE*/

/*position particulière de photo*/
.container-projet #photos{

	padding: 10px;
	text-align: center;
}

/*position particulière de expérimentation */
.container-projet #experimentation{

	word-break: break-all;
	padding: 10px;
}

/*position particulière de ferme des animaux */
.container-projet #calendrier{

	padding: 10px;
}

/*position particulière de ferme des animaux */
.container-projet #blindtest{

	padding: 10px;
}

/*quand je passe la souris sur le bloc, le titre change de couleur*/
.container-projet:hover .title-project{
	color: #fbe7e8;
	background-color: #ff4219;
}






	/*page about*/

#sectionabout{
/*	border: 1px solid green;*/
	color: #ff4219;
	font-family: 'cyrene';
	z-index:0 ;
	font-size: 3.7vmax;
	line-height: 1.09em;
	letter-spacing: 2px;
	text-transform: uppercase;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100vh;
	margin-left: auto;
}

#sectionabout h2{
	margin-left: 38vw;
	margin-right: 7vw;
	margin-top: 20vh;
	justify-content: space-around;
}

#sectionabout h2 a{
	color: #ff4219;
	text-decoration: underline 3px;

}

#sectionabout h2 a: visited{
	color: #ff4219;
}

/*l'image de about*/
#imageabout{
	height: 100vh;
	width: auto;
}









	/*contenu des projets*/
/*	retour aux sources*/

aside{
/*	border: 1px solid black;*/
	color: #ff4219;
	height: 100%;
	width: 25vw;
	position: fixed;
  	z-index: 1; /* Stay on top */
  	top: 0; /* Stay at the top */
  	left: 0;
}

aside h3{
	font-family: 'sporting';
	font-size: 1.22em;
	line-height: 1.2em;
	text-transform: uppercase;
	margin-bottom: 1em;
}

/*bloc qui comprends titre légende et explication du projet*/
/*#bloc-texte-aside1{
	border: 1px solid red;
	justify-self: center;
	width: 80%; /*38vw*/
/*	margin: 30vh auto 15vh;*/
/*	margin-left: auto;
	margin-right: auto;
	margin: 10vh;
}*/

#bloc-texte-aside{
/*	border: 1px solid red;*/
	justify-self: center;
	width: 80%; /*38vw*/
/*	height: 100%;*/
	margin-left: auto;
	margin-right: auto;
	margin-top: 20vh;
	margin-bottom: 5vh;

}

/*photos du premier rang*/
#photo-rang-un{
/*	border: 2px solid blue;*/
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 4.5vh;
}

#photo-rang-un img{
	width: 22vw;
}

/*photo du second rang*/
#photo-rang-deux{
/*	border: 2px solid blue;*/
	width: 100%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	margin-bottom: 4vh;
}

#photo-rang-deux img{
	width: 34.3vw;
}

#container-all-projet{
/*	border: black solid 1px;*/
	margin: auto;
	width: 95%;

}

#legende{
	font-family: 'sporting';
	margin-bottom: 5em;
	line-height: 1.2em;
}

#explications{
	font-family: 'montserrat';
	margin-bottom: 20px;
}

/*lien de blindtest*/
#link-site{
	font-family: 'cyrene';
	text-transform: uppercase;
	font-size: 1.3em;
}

#link-site:visited{
	color: #ff4219;
}

/*boite avec toutes les photos de projet*/
#container-all-projet{
	margin-top: 50px;
	width: 73.9%;
	float: right;
}



/*boite bouton avant et après*/
#back-next{
/*	border: 1px solid cyan;*/

/*	margin-top: 260px;*/
	/*margin-bottom: 30px;*/ /*espace après les boutons*/
	display: flex;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
/*	margin-bottom: 30px;*/
	justify-content: space-between;
}

#back-next a{
	font-family: 'cyrene';
	font-size: 1.5em;
	text-transform: uppercase;
	text-decoration: none;
	color: #ff4219;
}

#back-next a: visited{
	color: #ff4219;
}

#back{
	width: 100px;
	text-align: left;
/*	border: 1px solid red;*/
}

#next{
	text-align: right;
	width: 100px;
/*	border: 1px solid red;*/
}






	/*	andersen*/

#andersen-rang-un{
/*	border: 2px solid blue;*/
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 15vh;
	align-items: center;
}

#andersen-rang-un img{
	width: 45vw;
	margin: auto;
}

#andersen-rang-deux{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

#andersen-rang-deux img{
	width: 22vw;
}

#andersen-rang-trois{
	width: 100%;
	display: flex;
	justify-content: space-around;
	margin: 30vh auto 30vh;

}

#andersen-rang-trois img{
	height: 80vh;
}

#andersen-rang-quatre{

	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 5vh;
}

#andersen-rang-quatre img{
	width: 34vw;
}

#andersen-rang-cinq{
	width: 100%;
	margin-bottom: 4vh;
}

#andersen-rang-cinq img{
	width: 100%;
}





	
	/*calendrier*/
#calendrier-rang-un{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 5vh;	
}

#calendrier-rang-un img{
	width: 21.65vw;
}

#calendrier-rang-deux{
/*	border: 1px solid red;*/
	width: 100%;
	margin-top: 20vh;
	margin-bottom: 20vh;
	display: flex;
	justify-content: space-around;
}

#bicolor{
/*	border: 1px solid black;*/
	height: 80vh;
	width: 52vw;
	background-image: url(../import/webp/arctic_station_noir_resultat.webp);
	background-size: contain;
	background-repeat: no-repeat;
}

#bicolor:hover{
	background-image: url(../import/webp/arctic_station_couleur_resultat.webp);
}

#calendrier-rang-trois{
/*	border: 1px solid red;*/
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 4vh;
}

#calendrier-rang-trois img{
	width: 34vw;
}

#croquis{
	border: 1px solid black;
	display: block;
	justify-content: space-between;
	width: 32vw;

}

#croquis img{
	width: 32vw;
}




	/*blindtest*/

#blindtest-rang-un{
/*	border: 1px solid yellow;*/
	width: 100%;
	display: flex;
	margin-bottom: 15vh;
}

#blindtest-rang-un img{
/*	border: 1px solid yellow;*/
	width: 70vw;
	display: flex;
}

#blindtest-rang-deux, #blindtest-rang-trois, 
#blindtest-rang-quatre{
/*	border: 1px solid red;*/
	width: 100%;
	margin-bottom: 4vh;
}

#blindtest-rang-deux img, #blindtest-rang-trois img, 
#blindtest-rang-quatre img{
	width: 40vw;
}

#blindtest-rang-deux{
	display: flex;
	justify-content: flex-start;
}

#blindtest-rang-trois{
	display: flex;
	justify-content: space-around;
}

#blindtest-rang-quatre{
	display: flex;
	justify-content: flex-end;
}

#blindtest-rang-cinq{
	margin-top: 25vh;
	margin-bottom: 4vh;
	display: flex;
	justify-content: center;
}

#before-after{
/*	border: 1px solid green;*/
	height: 60vh;
	width: 50vw;
	background-image: url(../import/webp/wireframe2_resultat.webp);
	background-repeat: no-repeat;
	background-size: contain;
}

#before-after:hover{
	background-image: url(../import/webp/site2_resultat.webp);
}

#blindtest-rang-six{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

#gif2{
	margin:  auto;
	margin-bottom: 4vh;
/*	border: 1px solid red;*/
/*	width: 80vh;*/
}

#gif2 img{
	width: 75vh;
}





	/*cycle*/

#cycle-rang-un img{
	width:100%;
}

#cycle-rang-deux{
display: flex;	
justify-content: space-between;
margin-top: 4vh;
}

#cycle-rang-deux img{
width: 50%;
height: 50%;
}

#cycle-rang-trois{
	margin-top: 20vh;
	margin-bottom: 10vh;
}

#cycle-rang-trois img{
	width: 100%;
}
	
#cycle-rang-quatre{
	display: flex;
	justify-content: space-around;
}





/*processing*/

#processing-rang-un{
/*	border: solid 1px black;*/
	display: flex;
	width: 100%;
}

#processing-rang-un img{
	margin:  auto;
}

#processing-examples{
/*	border: 1px solid red;*/
	display: flex;
	margin:  auto;
	justify-content: space-between;
	width: 80%;
	height: 975px	;
}

#processing-rang-deux{
	margin-top: 10vh;
/*	border: 1px solid black;*/
	width: 65%;
	margin: auto;

}

#processing-rang-deux img{
	width: 100%;
	margin: auto;
}


#processing-rang-trois{
/*	border: 1px solid black;*/
	margin-top: 10vh;
	width: 35%;
	margin: auto;
}

#processing-rang-trois img{
	width: 100%;
	display: flex;

}


footer{
/*	border: 1px solid #ff4219;*/
/*	border: 1px solid green;*/
	color: #ff4219;
	position: fixed;
	bottom: 0px;	
	width: 100%;
	font-family: 'montserrat';
	font-size: 0.8em;
	text-align: center;
	margin: 20px auto 10px;
}