
@font-face{
	font-family: "dela";
	src: url("../typo/dela.ttf");
}

@font-face{
	font-family: "paysage";
	src: url("../typo/paysage.woff");
}
@font-face{
	font-family : "akrobat";
	src: url("../typo/akrobat.woff");
}

body{
	width: 100vw;
	overflow-x: hidden;
}

/*partie hearder*/
header{
	/*border: thin solid red;*/
	width: 100vw;
	padding: 50px 50px 0px 50px;	
	justify-content: space-between;
	position: fixed;
	display: flex;
	z-index: 1000;

}

header ul{
	/*border: thin solid blue;*/
	width: 180px;
	font-family: 'paysage';
	font-size: 1.2em;
	text-transform: uppercase;
	justify-content: space-between;
	position: fixed;
	right: 50px;
	display: inline-flex;
}

header a{
	text-decoration: none;
	color: #f72617;
}

/*trait sous les liens*/
header a hr{
	opacity: 0;
}

/*quand on passe sur la souris sur le lien work, le trait apparait*/
header #work:hover hr{
	opacity: 1;
	border: none;
	height: 3px;
	background-color: #f72617;
	transform: rotate(-3deg);
}

/*quand on passe sur la souris sur le lien moi, le trait apparait*/
header #moi:hover hr{
	opacity: 1;
	border: none;
	height: 3px;
	background-color: #f72617;
	transform: rotate(4deg);
}

/*quand on passe sur la souris sur le lien insta, le trait apparait*/
header #insta:hover hr{
	opacity: 1;
	border: none;
	height: 3px;
	background-color: #f72617;
	transform: rotate(-5deg);
}


/*partie section*/
section{
/*	border: 2px solid purple;*/
	width: 100vw;
	height: 76.8vh;
	padding-top: 200px;
	display: flex;
}

/*sur le côté de l'article, il y a des boutons*/
#nav{
/*	border: 3px solid green;*/
	width: calc(100vw / 4);
	height: 70vh;
	overflow: scroll;
	display: block;
	margin: 0px 60px 0px 60px;
}

/*les previews sont cachées et se placent au dessus du texte en :hover*/
.preview{
	/*display: none;*/
	/*border: 1px black solid;*/
	position: fixed;
	left: 20vw;
	top: 20vh;
	z-index: 1000;
	opacity: 0;
	transition: 0.5s ease all;
	box-shadow: -5px -5px 13px rgba(0, 0, 0, 0.6);
}
#nav ul li .bouton:hover +.preview{
	/*display: block;*/
	left: 30vw;	
	opacity: 1;
}

article{
	border: 4px solid pink;
	width: calc( 100vw / 6 * 3 );
	font-family: 'dela';
	font-size: 4vmax;
	line-height: 1.3em;
	color: #1f78ad;
	display: block;
	/*margin-left: 20px;*/
	z-index:0;/*le texte dans section est placé en dessous des previews*/
}

/*class bouton espacés entre eux de 20px*/
.bouton{
	width: 20vw;
	display: block;
	margin: 25px auto 0px;
}

/*position de base du bouton expérimentation*/
#bouton_exp{
	transform: rotate(-3.23deg);
}
/*position lors du :hover*/
#bouton_exp:hover {
	transition: all 150ms ease-in-out;
	transform: rotate(3.23deg);
}

/*position de base du bouton blindtest*/
#bouton_blind{
	transform: rotate(-11.90deg);
}

/*position lors du :hover*/
#bouton_blind:hover {
	transition: all 150ms ease-in-out;
	transform: rotate(11.90deg);
}

/*position de base du bouton source*/
#bouton_source{
	transform: rotate(6.27deg);
}

/*position lors du :hover*/
#bouton_source:hover {
	transition: all 150ms ease-in-out;
	transform: rotate(-6.27deg);
}


/*partie footer*/
footer{
	border: solid orange 2px;
	position: relative;
	bottom: 20px;
/*	width: 100vw;*/
	margin: auto;	
	width: 700px;
	text-align: center;	
	font-family: 'paysage';
	color: grey;
}

footer h3{
/*	border: solid grey 2px;*/
	/*margin: auto;	
	width: 700px;
	text-align: center;	
	font-family: 'paysage';
	color: grey;*/
}

footer a:visited{
	color: grey;
}

/*page expérimentation */

/*//------------réglages par défaut des pages de projet---------------*/

.section_deux{
	border: 2px solid purple;
	width: 100vw;
	height: 345vh;
	padding-top: 200px;
	padding-bottom: 80px;

/*	display: flex;*/
}

/*cartouches sur le côté gauche*/

.bouton2{
	width: 20vw;
	display: block;
	margin: 25px auto 0px;
}

#cartouche1{
	position: fixed;
	left: 5.5vw;
	z-index: 1;

}
/*//-------------------------------------------------------------------*/

#cartouche2{
	position: fixed;
	left: 5.5vw;
	top: 360px;
	z-index: 0;
}

.page-experimentation img{
	box-shadow: -5px -5px 13px rgba(0, 0, 0, 0.6);
	display: block;
	margin: 0px auto 50px auto;
}

.page-experimentation figure{
	display: flex;	
	justify-content: space-between;
}

.page-experimentation figure img{
	display: inline-block;
}

/*page blindtest */

/*//------------réglages par défaut des pages de projet---------------*/

.section_trois{
	border: 2px solid purple;
	width: 100vw;
	height: 380vh;
	padding-top: 200px;
	padding-bottom: 80px;
	
/*	display: flex;*/
}

#cartouche3{
	position: fixed;
	left: 5.5vw;
	top: 330px;
	z-index: 0;
}

.page-blindtest img{
	box-shadow: -5px -5px 13px rgba(0, 0, 0, 0.6);
	display: block;
	margin: 0px auto 50px auto;
}

/*page retour aux sources */

/*//------------réglages par défaut des pages de projet---------------*/
/*image encrée à gauche*/
#source-one, #source-tree, #source-five {
	float: left;
	position: relative;
}

/*image encrée à droite*/
#source-two, #source-four {
	float: right;
	position: relative;
}

/*image 1*/
#source-one{
	z-index: 2;
	transform: rotate(-2.72deg);
}

/*image 2*/
#source-two{
	z-index: 0;
	bottom: 200px;
	transform: rotate(-2.16deg);

}

/*image 3*/
#source-tree{
	bottom: 400px;
	z-index: 0;
}

/*image 4*/
#source-four{
	z-index: 3;
	bottom: 700px;
	transform: rotate(19.04deg);
}

/*image 5*/
#source-five{
	bottom: 800px;
	z-index: 4;
}

/*réglage du contenu de l'article dans la page retour aux sources*/
.page-source img{
	box-shadow: -5px -5px 13px rgba(0, 0, 0, 0.6);
	display: block;
	margin: 0px auto 0px auto;
}






