body{
		background-color: black;
}

div{
	width: 1200px;
	height: 750px;
/*	border: solid 1px red;*/
	margin: 90px auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-gap: 40px;
}

#un{
/*	border: solid 1px red;*/
	background-image: url('import/1_photo.jpg');
	background-size: cover;
	grid-column-start: 1;
	grid-column-end: 4;
}

#un:hover {
	background-image: url('import/1.gif');
}

#deux{
	background-image: url('import/2_photo.jpg');
	background-size: cover;
/*	border: solid 1px red;*/
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 4;
}

#deux:hover {
	background-image: url('import/2.gif');
}

#trois{
	background-image: url('import/3_photo.jpg');
	background-size: cover;
/*	border: solid 1px red;*/
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 3;
}

#trois:hover {
	background-image: url('import/3.gif');
}

#quatre{
	background-image: url('import/4_photo.jpg');
	background-size: cover;
/*	border: solid 1px red;*/
	grid-column-start: 5;
	grid-column-end: 6;
	grid-row-start: 1;
	grid-row-end: 3;
}

#quatre:hover {
	background-image: url('import/4.gif');
}

#cinq{
	background-image: url('import/5_photo.jpg');
	background-size: cover;
/*	border: solid 1px red;*/
	grid-column-start: 4;
	grid-column-end: 6;
	grid-row-start: 3;
	grid-row-end: 4;
}

#cinq:hover {
	background-image: url('import/5.gif');
}

#six{
	background-image: url('import/6_photo.jpg');
	background-size: cover;
/*	border: solid 1px red;*/
	grid-column-start: 3;
	grid-column-end: 6;
	grid-row-start: 4;
	grid-row-end: 5;
}

#six:hover {
	background-image: url('import/6.gif');
}

#sept{
	background-image: url('import/7_photo.jpg');
	background-size: cover;
/*	border: solid 1px red;*/
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 4;
	grid-row-end: 5;
}

#sept:hover {
	background-image: url('import/7.gif');
}

#huit{
	background-image: url('import/8_photo.jpg');
	background-size: cover;
/*	border: solid 1px red;*/
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 4;
}

#huit:hover {
	background-image: url('import/8.gif');
}









