body{
	background-color: #fbe7e8;
	cursor: crosshair;
	font-family: 'arial';
}
/*----SECTION----*/
/*the entire box*/
section{
	font-family: 'arial';
	width: 90vw;
	margin: 20px;
}
/*-----ASIDE-----*/
aside{
	width: 50%;
	font-size: 1em;
	line-height: 1.3em;
/*	text-align: justify;*/
	margin-bottom: 40px;
	color: #ff4219;
}
/*LIEN DANS ASIDE*/
aside a{
	color:#ff4219;
}

aside a:visited {
	color: #ff4219;
}

aside a:hover{
	color:#00bde6;
}

/*SPAN INTRO*/


/*SPAN QUESTION*/
#question{
	font-size: 1.5em;
	line-height: 1.3em;
}

/*TITRE*/
h2{
	font-size: 1.2em;
	color: #ff4219;
	text-transform: uppercase;
	margin-bottom: 20px;
}

/*IMAGE DITHERED*/
img{
	margin-top: 20px;
}

/*FIGURE*/


/*FIGCAPTION*/
figcaption{
	font-stretch: italic;
	font-size: 0.9em;
	width: 500px;
}


/*-----ARTICLE-----*/

#entree-legende{
	text-transform: uppercase;
}

/*grid with 6 columns*/
article{
	/*background-color: #f6c2bd;*/
	font-family: 'arial';
	line-height: 1.3em;
	border-bottom: solid red 1px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	display: grid;
	grid-template-columns: 0.5fr 1fr 1fr 1fr 2fr 0.5fr;
	grid-gap: 30px;
	overflow: hidden;
	max-height: 100px;
	transition: max-height 2.4s ease 0s;
}


/*Je fais une transition au hover pour faire apparaître
juste le reste du texte mais pas plus. Donc je suis 
obligée d'utiliser max-height qui me permet de déterminer
une hauteur maximal mais si la hauteur est inférieure alors
le bloc article s'arrêtera après la dernière ligne de texte.*/

article:hover{
	max-height: 1000px;
	transition: max-height 2s ease; 
	color: #ff4219;	
}

/*lorsque je passe la souris sur le bloc, peu importe
si le lien a été visité ou non, il hérite de la même
couleur que l'article*/

article a, article a:visited{
	color: inherit;
}

article:hover a:hover{
color: #00bde6; /*couleur complémentaire du orange*/
}

article p{
/*grid-column: 2 / 4;*/
}

/*CITATION*/
blockquote{
	font-family: 'arial';
}

/*DATE*/
h6{
	font-size: 0.9em;
	line-height: 1.3em;
}


/*----FOOTER----*/
footer{
color: #ff4219;

}

